---
import Grid1 from '@/assets/images/fotografias/interior/grid-1.webp';
import Grid2 from '@/assets/images/fotografias/interior/grid-2.webp';
import Grid3 from '@/assets/images/fotografias/interior/grid-3.webp';
import Grid4 from '@/assets/images/fotografias/interior/grid-4.webp';
import Grid5 from '@/assets/images/fotografias/interior/grid-5.webp';
import PrimaryImage from '@/assets/images/fotografias/interior/primary.webp';
import BackgroundHero from '@/components/Sections/BackgroundHero.astro';
import PrimaryBento from '@/components/Sections/PrimaryBento.astro';
import PrimaryTextImage from '@/components/Sections/PrimaryTextImage.astro';
import Layout from '@/layouts/Layout.astro';

const primaryImage = {
  image: PrimaryImage,
  alt: 'Señora esperando su bebida en la barra de cócteles',
};

const bentoImages = [
  { image: Grid1, alt: 'Automóviles Nissan, uno blanco y otro rojo' },
  { image: Grid2, alt: 'Fachada de la agencia Nissan' },
  { image: Grid3, alt: 'Locutora de radio entrevistando a una señora' },
  { image: Grid4, alt: 'Familia dentro de una camioneta blanca Nissan' },
  { image: Grid5, alt: 'Mujer joven abriendo el cofre de un automóvil Nissan' },
];

const title = 'Fotografía interior | Nahual Studio - Estudio de Diseño Gráfico';
const description =
  'Infórmate sobre nuestro servicio de Fotografía interior y agenda con nosotros tu próximo evento.';
const canonical = 'https://nahual-studio.vercel.app/fotografia/interior';
---

<Layout title={title} description={description} canonical={canonical}>
  <BackgroundHero backdrop="/images/background/interior.webp">
    <h1
      class="text-light-lily anim-title text-header-1-mobile xl:text-header-1 leading-header font-tanker absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center uppercase md:max-w-xl"
    >
      Fotografía interior
    </h1>
  </BackgroundHero>

  <PrimaryTextImage title="Fotografía de Interiores" image={primaryImage}>
    <div class="font-general-sans anim-element text-light-lily max-w-xs">
      <p class="leading-paragraph">
        En Nahual Studio destacamos la belleza y esencia de cada espacio.
        Nuestra fotografía de interiores busca resaltar la luz, los detalles y
        la atmósfera que hacen único a cada lugar.
      </p>
    </div>
  </PrimaryTextImage>

  <PrimaryBento
    title="Espacios Que Hablan"
    buttonLabel="¡Agenda ahora!"
    images={bentoImages}
  >
    <div class="font-general-sans text-light-blue anim-element max-w-xl">
      <p class="leading-paragraph mb-2">
        Capturamos espacios con una visión estética y técnica, ideal para
        arquitectos, diseñadores, negocios o marcas que desean proyectar
        profesionalismo y estilo. Cada imagen refleja equilibrio, composición y
        emoción, logrando que los ambientes hablen por sí mismos.
      </p>
      <p class="leading-paragraph">
        Con Nahual Studio, tus espacios se convierten en experiencias visuales.
      </p>
    </div>
  </PrimaryBento>
</Layout>
