---
import Grid1 from '@/assets/images/diseño/creacion-marca/grid-1.webp';
import Grid2 from '@/assets/images/diseño/creacion-marca/grid-2.webp';
import Grid3 from '@/assets/images/diseño/creacion-marca/grid-3.webp';
import Grid4 from '@/assets/images/diseño/creacion-marca/grid-4.webp';
import Grid5 from '@/assets/images/diseño/creacion-marca/grid-5.webp';
import PrimaryImage from '@/assets/images/diseño/creacion-marca/primary.webp';
import BackgroundHero from '@/components/Sections/BackgroundHero.astro';
import PrimaryBento from '@/components/Sections/PrimaryBento.astro';
import PrimaryTextImage from '@/components/Sections/PrimaryTextImage.astro';
import Layout from '@/layouts/Layout.astro';

const primaryImage = {
  image: PrimaryImage,
  alt: 'Tableta con el logo de Nahual Studio',
};

const bentoImages = [
  { image: Grid1, alt: 'Caja de pastel con el logo de Chantli' },
  { image: Grid2, alt: 'Panes en bolsas con el logo de Chantli' },
  { image: Grid3, alt: 'Cartel publicitario con el logo de Beloes' },
  { image: Grid4, alt: 'Cartel publicitario con el logo de Chantli' },
  { image: Grid5, alt: 'Etiqueta con el logo de Chantli' },
];

const title = 'Creación de marca | Nahual Studio - Estudio de Diseño Gráfico';
const description =
  'Infórmate sobre nuestro servicio de Creación de marca y agenda con nosotros tu próximo evento.';
const canonical = 'https://nahual-studio.vercel.app/diseño/creacion-marca';
---

<Layout title={title} description={description} canonical={canonical}>
  <BackgroundHero backdrop="/images/background/creacion-marca.webp">
    <h1
      class="text-light-lily anim-title text-header-1-mobile xl:text-header-1 leading-header font-tanker absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center uppercase md:max-w-xl"
    >
      Creación de marca
    </h1>
  </BackgroundHero>

  <PrimaryTextImage title="Creación de Marca" image={primaryImage}>
    <div class="font-general-sans anim-element text-light-lily max-w-xs">
      <p class="leading-paragraph">
        Crear una marca no es solo diseñar un logo; es construir una identidad
        que refleje quién eres y cómo quieres que te perciban. Nuestro servicio
        de creación de marca está diseñado para transformar ideas en una imagen
        coherente, atractiva y memorable, que conecte con tu público y te
        diferencie en el mercado.
      </p>
    </div>
  </PrimaryTextImage>

  <PrimaryBento
    title="Dando Vida a Tu Identidad"
    buttonLabel="¡Agenda ahora!"
    images={bentoImages}
  >
    <div class="font-general-sans text-light-blue anim-element max-w-xl">
      <p class="leading-paragraph mb-2">
        Desde el desarrollo de logotipo, paleta de colores y tipografía, hasta
        la definición de valores, personalidad y tono de comunicación, cada
        elemento se crea estratégicamente para contar la historia de tu marca.
        Nuestro objetivo es que tu marca no solo se vea bien, sino que inspire
        confianza, genere reconocimiento y deje una impresión duradera.
      </p>
      <p class="leading-paragraph">
        Con nuestro servicio de creación de marca, cada detalle importa, porque
        sabemos que la identidad visual y emocional de tu negocio es la base
        para construir relaciones fuertes con tus clientes y destacar en un
        mercado competitivo.
      </p>
    </div>
  </PrimaryBento>
</Layout>
