---
import Grid1 from '@/assets/images/fotografias/gastronomicas/grid-1.webp';
import Grid2 from '@/assets/images/fotografias/gastronomicas/grid-2.webp';
import Grid3 from '@/assets/images/fotografias/gastronomicas/grid-3.webp';
import Grid4 from '@/assets/images/fotografias/gastronomicas/grid-4.webp';
import Grid5 from '@/assets/images/fotografias/gastronomicas/grid-5.webp';
import PrimaryImage from '@/assets/images/fotografias/gastronomicas/primary.webp';
import BackgroundHero from '@/components/Sections/BackgroundHero.astro';
import SecondaryBento from '@/components/Sections/SecondaryBento.astro';
import SecondaryTextImage from '@/components/Sections/SecondaryTextImage.astro';
import Layout from '@/layouts/Layout.astro';

const primaryImage = {
  image: PrimaryImage,
  alt: 'Postre con galleta decorada',
};

const bentoImages = [
  {
    image: Grid1,
    alt: 'Pastel de chocolate y fresa decorado con perlas de azúcar',
  },
  { image: Grid2, alt: 'Pastel de chocolate con perlas de azúcar' },
  { image: Grid3, alt: 'Postre de fresa con perlas de azúcar' },
  { image: Grid4, alt: 'Galleta con el logo de Cakes by Pao' },
  {
    image: Grid5,
    alt: 'Pastel de chocolate y fresa con perlas de azúcar y crema batida',
  },
];

const title =
  'Fotografía Gastronómica | Nahual Studio - Estudio de Diseño Gráfico';
const description =
  'Infórmate sobre nuestro servicio de Fotografía Gastronómica y agenda con nosotros tu próximo evento.';
const canonical = 'https://nahual-studio.vercel.app/fotografia/gastronomica';
---

<Layout title={title} description={description} canonical={canonical}>
  <BackgroundHero backdrop="/images/background/gastronomicas.webp">
    <h1
      class="text-light-lily anim-title text-header-1-mobile xl:text-header-1 leading-header font-tanker absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center uppercase md:max-w-xl"
    >
      Fotografía Gastronómica
    </h1>
  </BackgroundHero>

  <SecondaryTextImage title="Fotografía Gastronómica" image={primaryImage}>
    <div class="font-general-sans anim-element text-light-lily max-w-xs">
      <p class="leading-paragraph">
        En Nahual Studio creemos que la comida también se disfruta con la vista.
        Nuestra fotografía gastronómica busca resaltar los colores, texturas y
        detalles que hacen irresistible cada platillo.
      </p>
    </div>
  </SecondaryTextImage>

  <SecondaryBento
    title="Capturando El Sabor"
    buttonLabel="¡Agenda ahora!"
    images={bentoImages}
  >
    <div class="font-general-sans text-light-blue anim-element max-w-xl">
      <p class="leading-paragraph mb-2">
        Cuidamos la iluminación, el ángulo y la composición para que cada imagen
        transmita sabor, frescura y autenticidad. Ideal para restaurantes,
        marcas y emprendimientos culinarios que desean destacar su propuesta
        visualmente y conectar con sus clientes.
      </p>
      <p class="leading-paragraph">
        Con Nahual Studio, tus platillos no solo se ven bien, abren el apetito.
      </p>
    </div>
  </SecondaryBento>
</Layout>
