---
import Grid1 from '@/assets/images/coberturas/bodas/grid-1.webp';
import Grid2 from '@/assets/images/coberturas/bodas/grid-2.webp';
import Grid3 from '@/assets/images/coberturas/bodas/grid-3.webp';
import Grid4 from '@/assets/images/coberturas/bodas/grid-4.webp';
import Grid5 from '@/assets/images/coberturas/bodas/grid-5.webp';
import PrimaryImage from '@/assets/images/coberturas/bodas/primary.webp';
import BackgroundHero from '@/components/Sections/BackgroundHero.astro';
import PrimaryBento from '@/components/Sections/PrimaryBento.astro';
import PrimaryTextImage from '@/components/Sections/PrimaryTextImage.astro';
import Layout from '@/layouts/Layout.astro';

const primaryImage = {
  image: PrimaryImage,
  alt: 'La pareja de novios dándose un beso',
};

const bentoImages = [
  {
    image: Grid1,
    alt: 'La pareja de novios sosteniendo un cartel de Kiss Cam',
  },
  { image: Grid2, alt: 'La novia recostada en el hombro del novio' },
  { image: Grid3, alt: 'Los novios en el altar' },
  { image: Grid4, alt: 'Una canasta con flores blancas' },
  { image: Grid5, alt: 'La novia caminando hacia el altar' },
];

const title = 'Cobertura de bodas | Nahual Studio - Estudio de Diseño Gráfico';
const description =
  'Infórmate sobre nuestro servicio de Cobertura de bodas y agenda con nosotros tu próximo evento.';
const canonical = 'https://nahual-studio.vercel.app/cobertura/bodas';
---

<Layout title={title} description={description} canonical={canonical}>
  <BackgroundHero backdrop="/images/background/bodas.webp">
    <h1
      class="text-light-lily anim-title text-header-1-mobile xl:text-header-1 leading-header font-tanker absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center uppercase md:max-w-xl"
    >
      Cobertura de bodas
    </h1>
  </BackgroundHero>

  <PrimaryTextImage title="Fotografía de Bodas" image={primaryImage}>
    <div class="font-general-sans anim-element text-light-lily max-w-xs">
      <p class="leading-paragraph">
        En Nahual Studio entendemos que una boda es uno de los días más
        importantes de la vida, lleno de emociones, detalles y momentos
        irrepetibles. Nuestro objetivo es capturar cada sonrisa, abrazo y
        mirada, transformando esos instantes en recuerdos eternos que se podrán
        revivir una y otra vez.
      </p>
    </div>
  </PrimaryTextImage>

  <PrimaryBento
    title="Citlali & Eduardo"
    buttonLabel="¡Agenda ahora!"
    images={bentoImages}
  >
    <div class="font-general-sans text-light-blue anim-element max-w-xl">
      <p class="leading-paragraph mb-2">
        Tuvimos el privilegio de documentar la boda de Citlali y Eduardo,
        capturando la magia de su día, desde la ceremonia hasta la celebración
        con familiares y amigos. Cada fotografía refleja la emoción, el amor y
        la alegría que hicieron de este evento algo inolvidable.
      </p>
      <p class="leading-paragraph">
        Con Nahual Studio, tu boda no solo se celebra, se recuerda para siempre.
      </p>
    </div>
  </PrimaryBento>
</Layout>
