---
import Grid1 from '@/assets/images/sesiones/cumpleaños/grid-1.webp';
import Grid2 from '@/assets/images/sesiones/cumpleaños/grid-2.webp';
import Grid3 from '@/assets/images/sesiones/cumpleaños/grid-3.webp';
import Grid4 from '@/assets/images/sesiones/cumpleaños/grid-4.webp';
import Grid5 from '@/assets/images/sesiones/cumpleaños/grid-5.webp';
import Primary from '@/assets/images/sesiones/cumpleaños/primary.webp';
import BackgroundHero from '@/components/Sections/BackgroundHero.astro';
import SecondaryBento from '@/components/Sections/SecondaryBento.astro';
import SecondaryTextImage from '@/components/Sections/SecondaryTextImage.astro';
import Layout from '@/layouts/Layout.astro';

const primaryImage = {
  image: Primary,
  alt: 'Cumpleañera con pose pensativa',
};

const bentoImages = [
  { image: Grid1, alt: 'Cumpleañera posando entre dos muros blancos' },
  { image: Grid2, alt: 'Rostro de la cumpleañera sonriendo a la cámara' },
  { image: Grid3, alt: 'Cumpleañera posando frente a una puerta de madera' },
  {
    image: Grid4,
    alt: 'Cumpleañera posando mientras sostiene un cuenco artesanal',
  },
  { image: Grid5, alt: 'Cumpleañera sosteniendo un cuenco artesanal' },
];

const title =
  'Sesión de cumpleaños | Nahual Studio - Estudio de Diseño Gráfico';
const description =
  'Infórmate sobre nuestro servicio de Sesión de cumpleaños y agenda con nosotros tu próximo evento.';
const canonical = 'https://nahual-studio.vercel.app/sesion/cumpleaños';
---

<Layout title={title} description={description} canonical={canonical}>
  <BackgroundHero backdrop="/images/background/cumpleaños.webp">
    <h1
      class="text-light-lily anim-title text-header-1-mobile xl:text-header-1 leading-header font-tanker absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center uppercase md:max-w-xl"
    >
      Sesión de cumpleaños
    </h1>
  </BackgroundHero>

  <SecondaryTextImage title="Sesión de cumpleaños" image={primaryImage}>
    <div class="font-general-sans anim-element text-light-lily max-w-xs">
      <p class="leading-paragraph">
        En Nahual Studio creemos que cada sesión fotográfica es una oportunidad
        para contar una historia auténtica.
      </p>
    </div>
  </SecondaryTextImage>

  <SecondaryBento
    title="Adi Marcial, 25 años"
    buttonLabel="¡Agenda ahora!"
    images={bentoImages}
  >
    <div class="font-general-sans text-light-blue anim-element max-w-xl">
      <p class="leading-paragraph mb-2">
        Cuando Adi Marcial nos contactó, su deseo era claro: quería que sus
        fotos de 25 años reflejaran su orgullo y esencia oaxaqueña, mostrando la
        fuerza, el color y la tradición que la caracterizan.
      </p>
      <p class="leading-paragraph mb-2">
        Viajamos hasta Oaxaca, donde cada rincón, cada tela bordada y cada
        sonrisa se convirtió en parte de una narrativa visual llena de
        identidad. Buscamos capturar no solo su belleza exterior, sino también
        la conexión con sus raíces y su espíritu alegre.
      </p>
      <p class="leading-paragraph">
        El resultado fue una sesión que fusionó cultura, emoción y arte. Un
        homenaje a la mujer oaxaqueña que celebra su historia con orgullo y
        elegancia.
      </p>
    </div>
  </SecondaryBento>
</Layout>
