---
const { service, style, size } = Astro.props;
const { title, image, link } = service;
---

<article
  class:list={[
    'w-60 rounded-[52px] transition-colors duration-200 md:w-full md:p-6',
    {
      'hover:bg-light-blue group': style === 'dark',
      'hover:bg-light-lily group': style === 'light',
    },
  ]}
>
  <a href={link} title={`Ir a ${title}`}>
    <div class="overflow-hidden rounded-2xl md:rounded-3xl">
      <img
        src={image}
        loading="lazy"
        alt={`Cobertura de ${title}`}
        class:list={[
          'w-full object-cover transition-transform duration-300 group-hover:scale-110',
          {
            'h-80 md:h-[419px]': size === 'large',
            'h-64 md:h-[329px]': size === 'medium',
          },
        ]}
      />
    </div>
    <p
      class:list={[
        'font-tanker text-header-4-mobile leading-header lg:text-header-4 max-w-3xs mt-4 transition-colors duration-200 md:mt-6',
        {
          'text-light-blue group-hover:text-light-lily': style === 'dark',
          'text-light-lily group-hover:text-light-blue': style === 'light',
        },
      ]}
    >
      {title}
    </p>
  </a>
</article>
