---
import Image from 'astro/components/Image.astro';

interface Props {
  image: ImageMetadata;
  name: string;
  job: string;
}

const { image, name, job } = Astro.props;
---

<article class="h-fit">
  <Image
    src={image}
    alt={`${name}`}
    class={'w-full h-full md:w-[406px] object-cover select-none rounded-image md:h-[537px]'}
    loading={'lazy'}
    draggable={false}
  />
  <h4
    class="text-light-lily text-header-4-mobile md:text-header-4 font-tanker mb-[6px] mt-6"
  >
    {name}
  </h4>
  <p class="text-light-lily leading-paragraph font-general-sans">{job}</p>
</article>
